.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(#669fce, #2e80c4);
}

.head {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eye {
  display: flex;
  margin: 20px;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid black;
}
.eye-left {
  left: 26px;
}
.eye-right {
  right: 26px;
}
.eye-inner {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  margin-left: 4px;
  margin-top: 4px;
}
.eye-inner::after {
  position: absolute;
  top: 14px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  content: "";
}
