.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(#669fce, #2e80c4);
}
.robot {
  position: relative;
}
.head {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.eye {
  display: flex;
  margin: 38px;
  margin-top: 60px;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid black;
}

.eye-inner {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.eye-inner::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: radial-gradient(rgb(253, 253, 253), rgb(160, 212, 163));
  border-radius: 50%;
  content: "";
}
